*.psd filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
rtmw3d-l_8xb64_cocktail14-384x288-794dbc78_202406.pth filter=lfs diff=lfs merge=lfs -text
